pypdf                  
faiss-cpu                
sentence-transformers    
pandas                  
pyarrow               
tqdm                   
openai                   
python-dotenv             